<!-- .............................................................. -->
<!-- FOOTER ....................................................... -->
<!-- .............................................................. -->
<footer class="page-footer {{site.color_class}}">
    <!-- Copyright -->
    <div class="footer-copyright">
        <div class="container">
            <div class="col s6 push-s6">Copyright © {{ 'now' | date: "%Y" }} <!--{{site.author.name}}--></div>
        </div>
    </div>
</footer>
