<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{site.title}} {% if page.title %}| {{page.title}}{% endif %}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/img/favicon.ico">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/materialize.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/page.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/index.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css">

    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
      }
    });
    </script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> 

    <!-- TODO
        <link rel="alternate" type="application/rss+xml" title="RSS" href="https://shawnteoh.github.io/matjek/feed.xml">
        <link rel="sitemap" type="application/xml" title="Sitemap" href="https://shawnteoh.github.io/matjek/sitemap.xml">
    -->

</head>
