<!-- .............................................................. -->
<!-- SCRIPTS ...................................................... -->
<!-- .............................................................. -->

<script src="{{site.baseurl}}/assets/js/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="{{site.baseurl}}/assets/js/materialize.min.js"></script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>

<div class="hiddendiv common"/>
<div class="drag-target" data-sidenav="slide-out" style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"/>
<!--div id="sidenav-overlay" style="opacity: 1;" class=""></div-->
