---
layout: default
---
<br>
<div class="card">
    <div class="card-image">
        {% if page.header %}
        <!--div style="background: {{page.color_secondary}}"-->
        <img style="filter: brightness(90%);object-fit: cover;" height="150px" src="{{site.baseurl}}/assets/img/{{page.header}}">
        {% else %}
        <img style="filter: brightness(90%);object-fit: cover;" height="150px" src="{{site.baseurl}}/assets/img/header.png">
        {% endif %}
        <span class="card-title">{{page.title}}</span>
    </div>    
    <div class="card-content">
        {{content}}
    </div>
        <div class="card-action">
            {% if page.previous %}
            <a href="{{site.baseurl}}{{page.previous.url}}"><i style="vertical-align:middle;margin-bottom:3px;" class="material-icons">chevron_left</i>{{page.previous.title}}</a>
            {% else %} 
            <a href="">{{page.previous.title}}</a>
            {% endif %}

            {% if page.next %}
            <a class="right" href="{{site.baseurl}}{{page.next.url}}">{{page.next.title}}<i style="vertical-align:middle;margin-bottom:3px;" class="material-icons">chevron_right</i></a>
            {% endif %}
        </div>

</div>

